<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ImagePath" value="..\..\..\Images\"/>
    <add key="ReportPath" value="..\..\..\Reports\"/>
    <add key="ConnectionString" value="Host=localhost;Username=postgres;Password=postgres;Database=TourPlanner"/>
    <add key="TourTable" value="tours"/>
    <add key="TourLogTable" value="tourlogs"/>
    <add key="Key" value="A1H6TsijwzAZ3cp7vu5cGAmVqEysE6gy"/>
    <add key="UrlDirectionsApi" value="http://www.mapquestapi.com/directions/v2/route"/>
    <add key="UrlStaticMapApi" value="http://www.mapquestapi.com/staticmap/v5/map"/>
  </appSettings>
</configuration>
